body{
    padding: 0;
    margin: 0;

    /* background-color: #161616; */
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none !important;
    color: #030303;
}

.wrapper{
    width: 100%;
    /* max-width: 980px; */
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1ed;
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 4px;
   font-family: calibri;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 10px 50px;
   box-sizing: border-box;
   background-color: #f4f7ff ;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.0.5) !important;
   z-index: 1;
}

.menu{
    display: flex;
}

.menu li a{
    padding: 5px 10px;
    color: #6c707c;
    font-size: 15px;
}

.profile{
    display: flex;
}

.profile li a{
    padding: 5px 10px;
    color: #292929;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    font-family: lucida sans;
}

.menu li a:hover,
.active{
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 800;
    transition: all ease 0.4s;
}

.card{
    top: 20%;
}

#article{
    display: block;
    height: 50px;
    width: 50%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding: 60px 0;
   /*  overflow: hidden; */
    text-overflow: ellipsis;
}

#article h5{
    display: inline;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#article h6{
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    color: #097925;
}

.title{
    font-family: Helvetica;
    font-weight: 600;
    text-transform: uppercase;
}

form{
    width: 600px;
    margin: 70px auto;
}

#article p{
    top: 10px;
}
